<ion-content class="pro-bg">
  <div class="notif-header">
    <h2>Notifications</h2>
    <div class="icon-btn" (click)="notifyCtrl.clearNotifications()">
      <ion-icon name="checkmark-done-all-outline"></ion-icon>
    </div>
  </div>

  <div class="notif-list">
    <div class="glass-notif unread">
      <div class="avatar-box">
        <img src="https://i.pravatar.cc/150?u=boss" />
        <div class="type-icon"><ion-icon name="chatbubble"></ion-icon></div>
      </div>
      <div class="content">
        <h4>New Comment</h4>
        <p><strong>Sarah</strong> commented on "Design System".</p>
        <span>2 min ago</span>
      </div>
      <div class="status-dot"></div>
    </div>

    <div class="glass-notif">
      <div class="avatar-box">
        <div class="system-icon"><ion-icon name="calendar"></ion-icon></div>
      </div>
      <div class="content">
        <h4>Meeting Reminder</h4>
        <p>Team sync starts in 30 minutes.</p>
        <span>1 hour ago</span>
      </div>
    </div>
  </div>
</ion-content>