<ion-content class="pro-bg">
  
  <app-glass-header title="Dashboard" subtitle="Feb 20, 2026">
    <div class="header-avatar">
      <img src="https://i.pravatar.cc/150?u=ahmed" />
    </div>
  </app-glass-header>

  <div class="section-label">
    <h2>Ongoing Tasks</h2>
    <span>View All</span>
  </div>

  <div class="task-list-container">
    <app-task-card 
      *ngFor="let t of taskCtrl.tasks()" 
      [task]="t">
    </app-task-card>
  </div>

  <div style="height: 100px;"></div>

</ion-content>