<ion-content class="auth-page">
  <div class="glass-card">
    <div class="logo-section">
      <div class="icon-box">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>
      <h2>Join TaskFlow</h2>
      <p>Create your account to start</p>
    </div>

    <div class="input-group">
      <div class="glass-input">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" placeholder="First Name" [(ngModel)]="user.firstName">
      </div>
      
      <div class="glass-input">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" placeholder="Last Name" [(ngModel)]="user.lastName">
      </div>
    
      <div class="glass-input">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" placeholder="Email Address" [(ngModel)]="user.email">
      </div>

      <div class="glass-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" placeholder="Password" [(ngModel)]="user.secretPassword">
      </div>
    </div>

    <button class="btn-primary" (click)="handleRegister()">
      Create Account <ion-icon name="rocket-outline"></ion-icon>
    </button>

    <div class="footer-link">
      <p>Already a member? <span routerLink="/login">Sign In</span></p>
    </div>
  </div>
</ion-content>