ion-content {
  --background: #000 !important;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

@font-face {
  font-family: 'Cyber';
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
}

ion-router-outlet {
  background: #000;
}