<div class="glass-item">
  <div class="left-side">
    <div class="dot" [ngClass]="task.completed ? 'green' : 'red'"></div>
    
    <div class="info">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
    </div>
  </div>

  <div class="right-side">
    <div class="mini-ring">
      <svg viewBox="0 0 36 36">
        <path class="bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="fill" 
          [attr.stroke-dasharray]="task.completed ? '100, 100' : '0, 100'"
          d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
      </svg>
      <span>{{ task.completed ? '100%' : '0%' }}</span>
    </div>
  </div>
</div>