<ion-content class="tasks-bg">
  <div class="header-space">
    <h1>All Tasks</h1>
    <p>Manage your workload</p>
  </div>

  <div class="add-task-box">
    <input type="text" placeholder="Add a new task..." [(ngModel)]="newTaskTitle" (keyup.enter)="addNewTask()">
    <button (click)="addNewTask()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>

  <div class="task-list">
    <div class="glass-item" *ngFor="let task of taskCtrl.tasks()">
      
      <div class="left-side">
        <div class="dot" [ngClass]="{
          'red': task.priority === 'High',
          'yellow': task.priority === 'Medium',
          'green': task.priority === 'Low'
        }"></div>
        
        <div class="info">
          <h3>{{ task.title }}</h3>
          <span>{{ task.category }}</span>
        </div>
      </div>

      <div class="right-side">
        <span class="status">{{ task.progress }}%</span>
        <ion-icon name="chevron-forward" color="medium"></ion-icon>
      </div>

    </div>
  </div>
</ion-content>