h1 { font-weight: 700; font-size: 26px; margin-bottom: 20px; }

ion-list {
  background: transparent;
  margin-bottom: 30px;
}

.logout-section {
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}